body {
  font-family: Roboto, Roboto Black, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.navbar {
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #e5e8ea;
  font-size: 12px;
}

.greenButton {
  box-sizing: border-box;

  /* position: absolute; */
  width: 92px;
  height: 32px;
  left: 1034px;
  top: 16px;

  border: 1px solid #4bcdc4;
  border-radius: 3px;
  background-color: white;
  color: #4bcdc4;
}

.vector {
  width: 0px;
  height: 64px;
  left: 803px;
  top: 0px;

  border: 0.5px solid #e5e8ea;
}

.balance {
  width: 323px;
  height: 64px;
}

.completed {
  width: 75px;
  height: 14px;
  left: 1056px;
  top: 19px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  /* or 145% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* Text 2 */

  color: #444851;
}

.buttonNewAudio {
  background: #67c083;
  box-shadow: 0px 2px 6px rgba(103, 192, 131, 0.2);
  border-radius: 3px;
  color: white;
}

.d-flex {
  gap: 125px;
}

h6,
h1 {
  color: pink;
}
